examples/python-venv.json
[{"id":"5ce6cfc428388e96","type":"debug","z":"8ea34535b383e607","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":80,"wires":[]},{"id":"6a6f071951e5b6f0","type":"venv","z":"8ea34535b383e607","venvconfig":"07f9f0a14e9171d0","name":"hello world","code":"print('hello, world!')","x":490,"y":80,"wires":[["5ce6cfc428388e96"]]},{"id":"4996c7a06636b063","type":"inject","z":"8ea34535b383e607","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":330,"y":80,"wires":[["6a6f071951e5b6f0"]]},{"id":"07f9f0a14e9171d0","type":"venv-config","venvname":"pyenv","version":"default"},{"id":"6fa87b94bef21b18","type":"global-config","env":[],"modules":{"@background404/node-red-contrib-python-venv":"0.6.0"}}]